{% extends 'base.html' %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'wiki' %}"><i class="fas fa-book mr-3"></i>Safety Training</a>
{% endblock %}

{% block navbar_items %}
{% endblock %}
