{% extends 'wiki/base.html' %}

{% block title %} | {{ page.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">{{ page.name }}</h1>
        {{ page.formatted_markdown|safe }}
    </div>
{% endblock %}
