{% extends 'base.html' %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'worklog' %}"><i class="fas fa-clock mr-3"></i>Worklog</a>
{% endblock %}

{%  block navbar_items %}
    {% if perms.tests.view_categories %}
        <div class="navbar-item">
            {% if perms.worklog.add_worklocation %}
            <a href="{% url 'locations' %}" class="nav-link">Locations</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
