{% extends 'worklog/base.html' %}

{% block title %} | Worklog {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">Worklog</h1>
        {% if perms.worklog.add_workentry %}
        <a href="{% url 'enter_work' %}" class="btn btn-primary mt-3" role="button">Enter Work</a>
        <p></p>
        <div class="list-group">
            {% for entry, hours in workentries %}          
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">  
                    <div class="d-flex flex-column">
                        <h5 class="mb-1">{{ entry.work_start.date }} | {{ entry.work_location }}</h5>
                        <p class="mb-0"></p>
                            {% if hours != None %}
                                Hours: {{ hours }} <br> Description: {{ entry.work_description }}
                            {% else %}
                                Work in progress, please clock out when finished!!
                            {% endif %}
                        </p>
                    </div>
                    <div class="d-flex flex-row">
                        {% if entry.work_end == None %}
                            <a href="{% url 'finish_work' entry_id=entry.id %}" class="btn btn-info ml-3" role="button">
                                Clock Out
                            </a>
                        {% endif %}
                        <a href="{% url 'edit_work' entry_id=entry.id %}" class="btn btn-info ml-3" role="button">
                                   Edit Work Entry
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% if workentries|length == 0 %}
            <center>No work entries yet!  Press Enter Work to get started!</center>
            {% endif %}

        </div>

        
        {% else %}
            <p>You don't have permission to add work entries!</p>
        {% endif %}

    </div>
{% endblock %}
