{% extends 'base.html' %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'tests' %}"><i class="fas fa-edit mr-3"></i>Tests</a>
{% endblock %}

{%  block navbar_items %}
    {% if perms.tests.create_test %}
        <div class="navbar-item">
            <a href="{% url 'categories' %}" class="nav-link">Categories</a>
        </div>
    {% endif %}
{% endblock %}
