{% extends 'tests/base.html' %}

{% block content%}
    <div class="container">
        <h1 class="m-3 text-center">Question Categories</h1>
        {% for category, questions_count in categories %}
            <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex flex-column">
                    <h5 class="mb-1">{{ category.name }}</h5>
                    <p class="mb-1">{{ questions_count }} questions</p>
                    <p class="mb-1">Created by: {{ category.creator.first_name }} {{ category.creator.last_name }}</p>
                </div>
                
                <a href="{% url 'category' category_id=category.id %}" class="btn btn-secondary ml-3" role="button">
                    {% if request.user == category.creator %}
                        View / Edit
                    {% else %}
                        View
                    {% endif %}
                </a>
            </div>
        {% endfor %}

        <a href="{% url 'create_category' %}" class="btn btn-primary mt-3" role="button">Add Category</a>
    </div>
{% endblock %}
