{% extends 'tests/base.html' %}
{% load crispy_forms_tags %}

{% block content%}
    <a href="{% url 'categories' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Categories
    </a>
    <div class="container">
        <h1 class="m-3 text-center">{{ category.name }}</h1>
        {% for question, answers in questions %}
            <div class="card my-5">
                <div class="card-header">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <h5 class="mb-1">{{ question.question_text }}</h5>
                        {% if perms.tests.create_test and request.user == category.creator %}
                            <a href="{% url 'question' question_id=question.id category_id=category.id %}" class="btn btn-secondary ml-3" role="button">Edit</a>
                        {% endif %}
                    </div>
                </div>
                {% if question.image %}
                    <img class="card-img-top" src="{{ question.image.url }}" alt="Image for this question"/>
                {% endif %}
                <div class="list-group list-group-flush">
                    {% for answer in answers %}
                        <div class="list-group-item">
                            <span>
                                {% if answer.correct %}
                                    <i class="fa fa-check-circle text-success m-2"></i>
                                {% else %}
                                    <i class="fa fa-times-circle text-danger m-2"></i>
                                {% endif %}

                                {{ answer.text }}
                            </span>

                            {% if answer.image %}
                                <div>
                                    <img width="50%" src="{{ answer.image.url }}" alt="Image for this answer"/>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        {% if perms.tests.create_test and request.user == category.creator%}
            <a href="{% url 'create_question' category_id=category.id %}" class="btn btn-primary mt-3" role="button">Add Question</a>
        {% endif %}
    </div>
{% endblock %}
