{% extends 'tests/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <a href="{% url 'categories' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Categories
    </a>
    <div class="container">
        <h1 class="m-3 text-center">Create Question Category</h1>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button href="#" class="btn btn-primary">Create Category</button>
            </form>
        </div>
    </div>
{% endblock %}
