{% extends 'tests/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <a href="{% url 'category' category_id=category_id %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Category
    </a>
    <div class="container">
        <h1 class="m-3 text-center">Create Question</h1>
        <div class="container">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form | crispy }}
                <button href="#" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
