{% extends 'tests/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <a href="{% url 'tests' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Tests
    </a>
    <div class="container">
        <h1 class="m-3 text-center"> Create a test </h1>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            {% crispy categories_formset categories_formset_helper %}
            {% crispy trainings_formset trainings_formset_helper %}
            <button class="btn btn-primary" role="button">Create Test</button>
        </form>
    </div>
{% endblock %}
