{% extends 'tests/base.html' %}

{% block title %} | Tests {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">Tests</h1>
        {% if perms.tests.take_test %}
            <div class="list-group">
                {% for test in tests %}
                    <div class="list-group-item d-flex align-items-center justify-content-between">
                        <h5 class="mb-1">{{ test.name }}</h5>
                        <div class="d-flex flex-row">
                            <a href="{% url 'test_sessions' test_id=test.id %}" class="btn btn-primary" role="button">Sessions</a>
                            <a href="{% url 'edit_test' test_id=test.id %}" class="btn btn-info ml-3" role="button">Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You don't have permission to view tests!</p>
        {% endif %}
        {% if perms.tests.create_test %}
            <a href="{% url 'create_test' %}" class="btn btn-secondary mt-3" role="button">Create Test</a>
        {% endif %}
    </div>
{% endblock %}
