{% extends 'tests/base.html' %}
{% load crispy_forms_tags %}

{% block content%}
    <a href="{% url 'category' category_id=category.id %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>{{ category.name }}
    </a>
    <div class="container">
        <h5 class="m-3 text-center">Question</h5>
        <div class="container">
            <form onsubmit="submit_form(event)">
                {% csrf_token %}
                {{ form | crispy }}
                {% if form.instance.image %}
                    <div>
                        <img width="100%" src="{{ form.instance.image.url }}" alt="Image for this question"/>
                    </div>
                {% endif %}
                <button class="btn btn-primary">Save Question</button>
            </form>
            <h5 class="m-3 text-center">Answers</h5>
            <form onsubmit="submit_form(event)">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form | crispy }}
                    {% if form.instance.image %}
                        <img width="50%" src="{{ form.instance.image.url }}" alt="Image for this answer"/>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-primary">Save Answers</button>
            </form>
        </div>
    </div>
{% endblock %}
