{% extends 'tests/base.html' %}

{% block title %} | Test Sessions {% endblock %}

{% block content %}
    <a href="{% url 'tests' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Tests
    </a>
    <div class="container">
        <h1 class="m-3 text-center">Sessions for {{ test.name }}</h1>
        {% if perms.tests.take_test %}
            <div class="list-group">
                {% for session, status, registrations_count, registration, is_proctor in sessions %}
                    <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                        <div class="d-flex flex-column">
                            <h5 class="mb-1">{{ session.name }}</h5>
                            <p class="mb-0">
                                {{ registrations_count }} / {{ session.max_registrations }} registered,
                                {% if session.attempts == 1 %}
                                    1 attempt
                                {% else %}
                                    {{ session.attempts }} attempts
                                {% endif %}
                            </p>
                        </div>
                        <div class="d-flex flex-row">

                            {% if status == "REGISTERED_FOR_THIS_SESSION_PASSED" %}
                            <span class="btn disabled">Passed</span>
                            <a href="{% url 'registrations' registration_id=registration.id %}" class="btn btn-info ml-3" role="button">
                                Details
                            </a>

                            {% elif status == "REGISTERED_FOR_THIS_SESSION_USED_RETRIES" %}
                                <span class="btn disabled">Out of retries</span>
                                <a href="{% url 'registrations' registration_id=registration.id %}" class="btn btn-info ml-3" role="button">
                                    Details
                                </a>

                            {% elif status == "REGISTERED_FOR_THIS_SESSION_NOT_OPEN_OPENING_DISABLED" %}
                                <span class="btn disabled">Registered</span>
                                <form onsubmit="submit_form(event)">
                                    {% csrf_token %}
                                    <input type="hidden" name="session_id" value="{{ session.id }}"/>
                                    <input type="hidden" name="action" value="UNREGISTER"/>
                                    <button href="" class="btn btn-danger ml-3" role="button">Unregister</button>
                                </form>
                                <a href="{% url 'registrations' registration_id=registration.id %}" class="btn btn-info ml-3" role="button">
                                    Details
                                </a>

                            {% elif status == "REGISTERED_FOR_THIS_SESSION_NOT_SWIPED_IN" %}
                                <span class="btn disabled">Not swiped in</span>
                                <form onsubmit="submit_form(event)">
                                    {% csrf_token %}
                                    <input type="hidden" name="session_id" value="{{ session.id }}"/>
                                    <input type="hidden" name="action" value="UNREGISTER"/>
                                    <button href="" class="btn btn-danger ml-3" role="button">Unregister</button>
                                </form>
                                <a href="{% url 'registrations' registration_id=registration.id %}" class="btn btn-info ml-3" role="button">
                                    Details
                                </a>

                            {% elif status == "REGISTERED_FOR_THIS_SESSION_SWIPED_OUT" %}
                                <span class="btn disabled">Swiped out</span>
                                <a href="{% url 'registrations' registration_id=registration.id %}" class="btn btn-info ml-3" role="button">
                                    Details
                                </a>

                            {%  elif status == "REGISTERED_FOR_THIS_SESSION_OPENED_SUBMISSIONS_ENABLED" %}
                                <span class="btn disabled">Started</span>
                                <a href="{% url 'take_test' registration_id=registration.id %}" class="btn btn-primary ml-3" role="button">
                                    Take Test
                                </a>
                                <a href="{% url 'registrations' registration_id=registration.id %}" class="btn btn-info ml-3" role="button">
                                    Details
                                </a>

                            {%  elif status == "REGISTERED_FOR_THIS_SESSION_OPENED_SUBMISSIONS_ENABLED" %}
                                <span class="btn disabled">Submissions Closed</span>
                                <a href="{% url 'registrations' registration_id=registration.id %}" class="btn btn-info ml-3" role="button">
                                    Details
                                </a>

                            {% elif status == "REGISTERED_FOR_THIS_SESSION_NOT_OPEN_OPENING_ENABLED" %}
                                <span class="btn disabled">Not started</span>
                                <a href="{% url 'take_test' registration_id=registration.id %}" class="btn btn-primary ml-3" role="button">
                                    Take Test
                                </a>
                                <a href="{% url 'registrations' registration_id=registration.id %}" class="btn btn-info ml-3" role="button">
                                    Details
                                </a>

                            {% elif status == "REGISTRATION_CLOSED" %}
                                <span class="btn disabled">Registration Closed</span>

                            {% elif status == "SESSION_FULL" %}
                                <span class="btn disabled">Full</span>

                            {% elif status == "REGISTERED_FOR_ANOTHER_SESSION" %}
                                <span class="btn disabled">Registered for another session</span>

                            {% elif status == "CAN_REGISTER" %}
                                <form onsubmit="submit_form(event)">
                                    {% csrf_token %}
                                    <input type="hidden" name="session_id" value="{{ session.id }}"/>
                                    <input type="hidden" name="action" value="REGISTER"/>
                                    <button href="" class="btn btn-primary" role="button">Register</button>
                                </form>

                            {% else %}
                                <!-- TODO: Can we log from templates and take this out? It should never happen -->
                                <span class="btn btn-danger disabled">Unknown status. Please report this.</span>
                            {% endif %}

                            {% if is_proctor %}
                                <a href="{% url 'test_session' session_id=session.id %}" class="btn btn-secondary ml-3" role="button">Registrations</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You don't have permission to view test sessions!</p>
        {% endif %}

        {% if test.creator == request.user %}
            <a href="{% url 'create_session' test_id=test.id %}" class="btn btn-secondary mt-3" role="button">Create Session</a>
        {% endif %}
    </div>
{% endblock %}
