{% extends 'tests/base.html' %}

{% block content %}
    <a href="{% url 'tests' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Tests
    </a>
    <div class="container">
        <h1 class="m-3 text-center"> {{ test.name }} </h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Passing score: {{ passing_score|stringformat:".2f" }}%</p>
                    {% if perms.tests.view_test_result %}
                        <a class="btn btn-info" href="{% url 'test_summary' test_id=test.id %}">Pass/Fail Summary</a>
                    {% endif %}
                </div>
                <div class="col">
                    <h3>Trainings</h3>
                    <div class="list-group mb-3">
                        {% for training in trainings %}
                            <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                                <span>{{ training.training.title }}</span>
                                <span>{{ training.expiration }}</span>
                            </div>
                        {% empty %}
                            <p>There are no trainings</p>
                        {% endfor %}
                    </div>
                    <h3>Question Categories</h3>
                    <div class="list-group">
                        {% for category in categories %}
                            <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                                <span>{{ category.category.name }}</span>
                                <span>{{ category.number_of_questions }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
