{% extends 'base.html' %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'trainings' %}"><i class="fas fa-hard-hat mr-3"></i>Trainings</a>
{% endblock %}

{%  block navbar_items %}

{% endblock %}
