{% extends 'trainings/base.html' %}

{% block title %} | Training Group Details {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">Your Trainings</h1>
        <div class="list-group">
            {% for training in user_trainings %}
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                        <h5 class="mb-1">{{ training.training.title }}</h5>
                        {% if not training.expired %}
                            <p class="mb-0"></p>
                                Valid Until {{ training.expiration }}
                            </p>
                        {% else %}
                            <p class="mb-0"></p>
                                EXPIRED {{ training.expiration }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-row">
                        <a href="{% url 'training_details' training_id=training.training.id %}" class="btn btn-info ml-3" role="button">
                            Details
                        </a>
                        {% if not training.expired %}
                            <a href="{% url 'certificate' user_training_id=training.id %}" class="btn btn-primary ml-3" role="button">
                                Certificate
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
            <h4 class="text-center">You don't have any trainings</h4>
            {% endfor %}
        </div>

        <h1 class="m-3 text-center">Your Active Training Groups</h1>
        <div class="list-group">
            {% for tg in user_training_groups %}
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                        <h5 class="mb-1">{{ tg.group_name }}</h5>
                    </div>
                </div>
            {% empty %}
            <h4 class="text-center">You are not in any training groups</h4>
            {% endfor %}
        </div>

        <h1 class="m-3 text-center">All Training Groups</h1>
        <div class="list-group">
            {% for training in all_training_groups %}
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                        <h5 class="mb-1">{{ training.group_name }}</h5>
                    </div>
                </div>
            {% empty %}
            <h4 class="text-center">There are currently no trainings</h4>
            {% endfor %}
        </div>

    </div>
{% endblock %}
