<div class="card m-3" style="width:18em">
    <div class="card-header">
        <a href="{% url url %}" class="card-title stretched-link text-dark m-0"><i class="fas {{ icon }} mr-3"></i>{{ title }}</a>
    </div>
    <div class="card-body">
        {{ description }}
    </div>
</div>
