{% extends 'base.html' %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'printcenter' %}"><i class="fas fa-print mr-3"></i>3D Print Center</a>
{% endblock %}

{%  block navbar_items %}
    {% if perms.printcenter.view_printrequest and  perms.printcenter.change_printrequest%} 
        <div class="navbar-item">
            <a href="{% url 'print_queue' %}" class="nav-link">Print Queue</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'print_queue_complete' %}" class="nav-link">Completed Prints</a>
        </div>
    {% endif %}
{% endblock %}
