{% extends 'printcenter/base.html' %}

{% block title %} | Print Center {% endblock %}

{% block content %}
    <a href="{% url 'printcenter' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Print Center
    </a>
    <div class="container">
        <h1 class="m-3 text-center">Print details </h1>
        {% if perms.printcenter.add_printrequest %}

            <div class="list-group">
                <table class="table">
                    <tbody>
                    <tr>
                        <td scope="col">Status</td>
                        <td scope="col">{{ print_request.status_label }}</td>
                    </tr>
                    <tr>
                        <td>Request Number</td>
                        <td>#{{ print_request.id }}</td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>{{ print_request.requestor.first_name }} {{ print_request.requestor.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>{{ print_request.size }}</td>
                    </tr>
                    <tr>
                        <td>Material</td>
                        <td>{{ print_request.material }}</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>{{ print_request.color }}</td>
                    </tr>
                    <tr>
                        <td>Submitted</td>
                        <td>{{ print_request.submitted }}</td>
                    </tr>
                    <tr>
                        <td>File</td>
                        <td><a href="/media/{{ print_request.file }}" download> Download STL </a></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td>{{ print_request.notes }}</td>
                    </tr>

                    </tbody>
                </table>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                         style="width:{{ progress_bar }}%">{{ print_request.status_label }}</div>
                </div>
            </div>


        {% else %}
            <p>You don't have permission to view this print!</p>
        {% endif %}

    </div>
{% endblock %}
