{% extends 'printcenter/base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Print Center {% endblock %}

{% block content %}
    <a href="{% url 'printcenter' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Print Center
    </a>
    <div class="container">
        {% if printers %}
            <h1 class="m-3 text-center">Quick Actions</h1>
        {% endif %}
        <div class="d-flex flex-row align-items-start flex-wrap justify-content-center">
            {% for printer, prints, queue in printers %}
                <div class="m-3" style="width: 18rem;">
                    <div class="card" id="card{{ printer.id }}">
                        <div class="card-header d-flex justify-content-between">
                            <h5 class="">{{ printer.name }} </h5>
                        </div>
                        <div class="list-group list-group-flush">
                            {% for print in prints %}
                                <div class="list-group-item d-flex flex-row align-items-center justify-content-between list-group-item"
                                     style="height: 3em">
                                    <span>#{{ print.id }} | {{ print.requestor.first_name }} {{ print.requestor.last_name }}</span>
                                    <span>
                                    <form onsubmit="submit_form(event)">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="mark_print_complete"/>
                                        <input type="hidden" name="printId" value="{{ print.id }}"/>
                                        <button type="submit" class="btn btn-info btn-sm" data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Mark print as complete">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </form>
                                </span>
                                </div>
                            {% endfor %}
                            {% for print in queue %}
                                <div class="list-group-item d-flex flex-row align-items-center justify-content-between list-group-item-secondary"
                                     style="height: 3em">
                                    <span>#{{ print.id }} | {{ print.requestor.first_name }} {{ print.requestor.last_name }}</span>
                                    <span>
                                    <form onsubmit="submit_form(event)">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="mark_print_printing"/>
                                        <input type="hidden" name="printId" value="{{ print.id }}"/>
                                        <button type="submit" class="btn btn-info btn-sm" data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Mark as printing">
                                            <i class="fa fa-print"></i>
                                        </button>
                                    </form>
                                </span>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <!-- Submitted prints section -->
        <h1 class="m-3 text-center">Submitted Prints</h1>
        <div class="list-group">
            {% for print in print_requests %}
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                        <h5 class="mb-1">#{{ print.id }} | {{ print.submitted.date }} | {{ print.status_label }}</h5>
                        <p class="mb-0"></p>
                        {% if print.color == None %}
                            Any color
                        {% else %}
                            {{ print.color }}
                        {% endif %}
                        {% if print.color == None %}
                            PLA/ABS <br>
                        {% else %}
                            {{ print.material }} <br>
                        {% endif %}
                        Submitted by: {{ print.requestor.first_name }} {{ print.requestor.last_name }}
                        ({{ print.requestor.email }})<br>
                        Notes: {{ print.notes }}
                        </p>
                    </div>
                    <div class="d-flex flex-row">
                        {% if print.print_status == "SUBMITTED" %}
                            <form method="POST">
                                <div class="input-group">
                                    {% csrf_token %}
                                    <input type="hidden" name="printId" value="{{ print.id }}"/>
                                    <select name="printer_id" class="custom-select">
                                        <option selected>Choose printer...</option>
                                        {% for printer in all_printers %}
                                            <option value="{{ printer.id }}">{{ printer.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="submit" name="action" value="mark_uploaded">
                                            <i class="fa fa-upload"></i></button>
                                        <button class="btn btn-info" type="submit" name="action" value="mark_printing">
                                            <i class="fa fa-print"></i></button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                        <a href="{% url 'print_edit' print_id=print.id %}" class="btn btn-info ml-3" role="button">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="/media/{{ print.file }}" download class="btn btn-info ml-3" role="button">
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
                {% empty %}
                <div class="text-center">
                    <h3>No print requests <i class="far fa-smile"></i></h3>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
