{% extends 'printcenter/base.html' %}

{% block title %} | Print Center {% endblock %}

{% block content %}
    <a href="{% url 'printcenter' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Print Center
    </a>
    <div class="container">
        <h1 class="m-3 text-center">{{ page_title}}</h1>
        <div class="list-group">
            {% for print in print_requests %}
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">  
                    <div class="d-flex flex-column">
                        <h5 class="mb-1">#{{ print.id }} | {{ print.submitted.date }} | {{ print.status_label }}</h5>
                        <p class="mb-0"></p>
                        {% if print.color == None %}
                        Any color
                        {% else %}
                        {{ print.color }} 
                        {% endif %}
                        {% if print.color == None %}
                        PLA/ABS <br>
                        {% else %}
                        {{ print.material }} <br>
                        {% endif %}
                        Requestor: {{ print.requestor.first_name }} {{ print.requestor.last_name }} <br>
                        Notes: {{ print.notes }}
                        </p>
                    </div>
                    <div class="d-flex flex-row">
                        {% if entry.work_end == None %}
                            <a href="{% url 'print_edit' print_id=print.id %}" class="btn btn-info ml-3" role="button">
                                View / Edit
                            </a>
                        {% endif %}
                        {% if print.print_status == "COMPLETE" %}
                            <form onsubmit="submit_form(event)">
                                {%  csrf_token %}
                                <input type ="hidden" name = "print_request_id" value = "{{ print.id }}"/>
                                <input type ="hidden" name = "action" value = "PICKUP"/>
                                <button href = "" class = "btn btn-info ml-3" role="button">Picked Up</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
