{% extends 'printcenter/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <a href="{% url 'printcenter' %}" class="btn btn-link float-left text-dark">
        <i class="fa fa-arrow-left mr-2"></i>Print Center
    </a>
    <div class="container">
        <h1 class="m-3 text-center">Create Print Request</h1>
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button href="#" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
