{% extends 'base.html' %}

{% block title %} | 400: Bad request {% endblock %}
{% block brand %}
    <a class="navbar-brand" href="{% url 'index' %}">Return Home</a>
{% endblock %}

{% block content %}
<p></p>
<div class="container">
    <div class="jumbotron">
        <h1>400: Bad request</h1>
        <p>If you are having technical issues, please go back to the <a href="{% url 'index' %}">home page</a> and try again.</p>
        <p>If that fails, please send an email to <a class="text-break text-wrap" href="mailto:ecetech@rowan.edu">ecetech@rowan.edu</a></p>
    </div>
</div>
{% endblock %}
