{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Welcome {% endblock %}
{% block brand %}
    <a class="navbar-brand" href="{% url 'index' %}">Resource Center</a>
{% endblock %}

{% block content %}
    <p></p>
    <div class="container">
        <h1 class="m-3 text-center">Update Your Information</h1>
        <p class="m-3 text-center">We are missing some of your information. Please fill it out below.</p>
        <div class="container">
            <form method="GET">
                {% csrf_token %}
                {{ form | crispy }}
                <button href="#" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
