<div>
    <div class="card d-flex flex-column flex-fill" style="height: 16em; min-width: 8em">
        <div class="card-header text-center">
            <span class="card-title font-weight-bold text-nowrap">{{ label }}</span>
        </div>
        <div class="flex-grow-1" style="overflow-y: scroll; overflow-x: hidden">
            {% for value, rendered, checked in values %}
                <div id="{{ name }}_{{ value }}_row" class="border-bottom">
                    <label
                            class="mx-1 d-flex flex-row align-items-center justify-content-between"
                            style="margin: 0; min-height: 1.5em"
                    >
                        {% if value != None %}
                            <input
                                    class="mr-3"
                                    id="{{ name }}_{{ value }}_checkbox"
                                    name="{{ name }}"
                                    value="{{ value }}"
                                    type="checkbox"
                                    style="margin:0"
                                    {% if checked %} checked {% endif %}
                            />
                            {% include rendered_template %}
                            <script>
                                document.getElementById("{{ name }}_{{ value }}_checkbox")
                                    .onchange = onfilterchange("{{ name }}", "{{ value }}")
                            </script>
                        {% else %}
                            <input
                                    class="mr-3"
                                    id="{{ name }}_none_checkbox"
                                    name="{{ name }}"
                                    value="__none__"
                                    type="checkbox"
                                    style="margin:0"
                                    {% if checked %} checked {% endif %}
                            />
                            <span style="color:lightgrey">―</span>
                            <script>
                                document.getElementById("{{ name }}_none_checkbox")
                                    .onchange = onfilterchange("{{ name }}", "__none__");
                            </script>
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="card-footer d-flex flex-row align-items-center justify-content-between p-1">
            <span id="{{ name }}_count" class="ml-2">0</span>
            <button
                    type="button" id="{{ name }}_clear"
                    class="btn btn-sm btn-danger"
            >
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <script>
        document.getElementById("{{ name }}_clear").onclick = onclear("{{ name }}");
        onfilterchange("{{ name }}")()
    </script>
</div>