{% extends 'lockout/base.html' %}

{% block title %} | Lockout {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">Your Machines</h1>
        <div class="list-group">
            {% for machine in user_machines %}
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                        <h5 class="mb-1">{{ machine.name }}</h5>
                    </div>
                </div>
            {% empty %}
            <h4 class="text-center">You don't have any machines accessible</h4>
            {% endfor %}
        </div>
        <h1 class="m-3 text-center">All Machines</h1>
        <div class="list-group">
            {% for machine in all_machines %}
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                        <h5 class="mb-1">{{ machine.name }}</h5>
                    </div>
                </div>
            {% empty %}
            <h4 class="text-center">There are currently no machines</h4>
            {% endfor %}
        </div>

    </div>
{% endblock %}
