{% extends 'base.html' %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'inventory' %}"><i class="fas fa-boxes mr-3"></i>Inventory</a>
{% endblock %}

{% block navbar_items %}
    <div class="navbar-item">
        <a href="{% url 'cart' %}" class="nav-link"><i class="fas fa-shopping-cart"></i><span
                class="badge badge-info m-1">{{ num_of_cart_items }}</span></a>
    </div>
    <div class="navbar-item">
        <a href="{% url 'previous_orders' %}" class="nav-link">Orders</a>
    </div>
    {% if perms.inventory.digikey_auth or perms.inventory.digikey_import or perms.inventory.generate_barcode_sheets or perms.inventory.lookup_barcodes or perms.inventory.fill_orders %}
        <div class="navbar-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                Staff
            </a>
            <div class="dropdown-menu">
                {% if perms.inventory.lookup_barcodes %}
                    <form class="mx-2 mb-1 form-inline" method="GET" action="{% url 'barcode_lookup' %}">
                        <div class="input-group input-group-sm">
                            <input name="barcode" class="form-control" type="text" placeholder="Barcode">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit"><i class="fas fa-qrcode"></i></button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                {% if perms.inventory.fill_orders %}
                    <a href="{% url 'fill_orders' %}" class="dropdown-item">Fill Orders</a>
                {% endif %}
                {% if perms.inventory.digikey_auth %}
                    <a href="{% url 'digikey_auth' %}" class="dropdown-item">Digi-Key Authorization</a>
                {% endif %}
                {% if perms.inventory.digikey_import %}
                    <a href="{% url 'digikey_lookup' %}" class="dropdown-item">Digi-Key Import</a>
                {% endif %}
                {% if perms.inventory.generate_barcode_sheets %}
                    <a href="{% url 'barcodes' %}" class="dropdown-item">Barcode Sheet</a>
                {% endif %}
                <a href="{% url 'analytics_categories' %}" class="dropdown-item">Analytics</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
