{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Inventory {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">Cart</h1>
        <div class="list-group">
            {% for part in parts %}
                <div class="list-group-item d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                        <h5 class="mb-1"><a href="{% url 'part' part_id=part.part.id %}">{{ part.part.name }}</a></h5>
                        <p class="mb-0">Quantity: {{ part.quantity }}</p>
                        <p class="mb-0">MPN: {{ part.part.manufacturer_part_number }}</p>
                        <p class="mb-0">IPN: {{ part.part.id }}</p>
                    </div>
                    <div class="d-flex flex-row">
                        <form onsubmit="submit_form(event)" class="mx-1">
                            {% csrf_token %}
                            <input type="hidden" name="cart_part_id" value="{{ part.id }}"/>
                            <input type="hidden" name="submit" value="Update">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Quantity"
                                       aria-label="Quantity" name="qty" value="{{ part.quantity }}">
                                <div class="input-group-append">
                                    <button class="btn btn-info" name="update_part" value="Update">Update</button>
                                </div>
                            </div>
                        </form>


                        <form onsubmit="submit_form(event)" class="mx-1">
                            {% csrf_token %}
                            <div>
                                <input type="hidden" name="submit" value="Delete">
                                <input type="hidden" name="cart_part_id" value="{{ part.id }}"/>
                                <button class="btn btn-danger" name="delete_part" value="Delete"><i
                                        class="fas fa-trash"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
            {% empty %}
                <p class="text-center">Your cart is empty</p>
            {% endfor %}
            <div class="mt-3">
                {% if not empty %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal" class="btn btn-info m-2">
                        Place Order
                    </button>
                {% endif %}
            </div>
        </div>
        <!-- Place Order Modal -->
        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="orderModalLabel">Are you sure you want to place your order?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="submit" value="Order">
                                <button class="btn btn-primary btn-lg m-3" type="submit">Place Order</button>
                            </form>
                            <div>
                                <button type="button" class="btn btn-secondary btn-lg btn-danger" data-dismiss="modal">Cancel</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
