{% extends 'inventory/base.html' %}

{% block title %} | Inventory {% endblock %}

{% block content %}
    <nav class="d-flex flex-row align-items-center justify-content-between" aria-label="breadcrumb">
        <div class="breadcrumb m-2">
            {% for category in category_path %}
                <div class="breadcrumb-item">
                    <a href="{% url 'parts_category' category_id=category.id %}" class="text-dark">
                        {{ category.name }}
                    </a>
                </div>
            {% endfor %}
        </div>

        {% if perms.inventory.change_category %}
            <a href="{% url 'admin:inventory_category_change' object_id=main_category.id %}" target="_blank" class="btn btn-secondary btn-sm m-2">
                <i class="fas fa-edit"></i>
            </a>
        {% endif %}
    </nav>

    <h1 class="mb-3 text-center">{{ main_category.name }}</h1>

    <div class="d-flex flex-row align-items-start flex-wrap justify-content-center">
        {% for category, subcategories in subcategories %}
            <div class="mb-3 ml-3 mr-3 card" style="width: 18rem;">
                {% if category.image.url != None %}
                    <img src="{{category.image.url}}" class="card-img-top">
                {% endif %}
                <a href="{% url 'parts_category' category_id=category.id %}" class="card-header font-weight-bold text-dark d-flex flex-row align-items-center justify-content-between">
                    <span>{{ category.name }}</span>
                    {% if category.parts_count > 1 %}
                        <span class="text-muted">{{ category.parts_count }} parts</span>
                    {% elif category.parts_count == 1 %}
                        <span class="text-muted">1 part</span>
                    {% else %}
                        <span class="text-muted">No parts</span>
                    {% endif %}



                </a>
                <div class="list-group list-group-flush">
                    {% for subcategory in subcategories %}
                        <a href="{% url 'parts_category' category_id=subcategory.id %}" class="list-group-item text-dark d-flex flex-row align-items-center justify-content-between">
                            <span>{{ subcategory.name }}</span>
                            {% if subcategory.parts_count > 1 %}
                                <span class="text-muted">{{ subcategory.parts_count }} parts</span>
                            {% elif subcategory.parts_count == 1 %}
                                <span class="text-muted">1 part</span>
                            {% else %}
                                <span class="text-muted">No parts</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        let onfilterchange = function (property) {
            return function() {
                let checkboxes = document.getElementsByName(property);
                let count = 0;
                for (let i = 0; i < checkboxes.length; i++) {
                    let checkbox = checkboxes[i];
                    let row = checkbox.parentElement.parentElement;
                    if (checkbox.checked) {
                        row.classList.add('table-success');
                        count += 1;
                    } else {
                        row.classList.remove('table-success');
                    }
                }
                let count_span = document.getElementById(property + "_count");
                count_span.innerText = String(count);
            }
        }

        let onclear = function (property) {
            return function () {
                let checkboxes = document.getElementsByName(property);
                for (let i = 0; i < checkboxes.length; i++) {
                    let checkbox = checkboxes[i];
                    checkbox.checked = false;
                }
                onfilterchange(property)()
            }
        }

        let onswitchviews = function (view) {
            let filters = document.getElementById('filters');
            let filter_stacked = document.getElementById('filter_stacked');
            let filter_scrolled = document.getElementById('filter_scrolled');

            if (view === 'stacked') {
                filters.style.flexWrap = 'wrap';
                filters.style.overflowX = 'hidden';
                filter_stacked.classList.add('d-none');
                filter_scrolled.classList.remove('d-none');
            } else if (view === 'scrolled') {
                filters.style.flexWrap = 'nowrap';
                filters.style.overflowX = 'scroll';
                filter_stacked.classList.remove('d-none');
                filter_scrolled.classList.add('d-none');
            }
        }
    </script>

    <div class="card m-3">

        <div class="card-header d-flex flex-row align-items-center justify-content-between p-2 border-bottom">
            <h5 class="m-0 title font-weight-bold">Property Filters</h5>
            <span>
                <button id="filter_stacked" class="btn btn-secondary btn-sm" onclick="onswitchviews('stacked')" type="button">Stack</button>
                <button id="filter_scrolled" class="btn btn-secondary btn-sm d-none" onclick="onswitchviews('scrolled')" type="button">Scroll</button>
            </span>
        </div>

        <form method="get" action="{% url 'parts_category_page' category_id=main_category.id page=1 order=order|urlencode:"" %}">
            <div id="filters" class="d-flex flex-row p-3" style="overflow-x: scroll; overflow-y: hidden; gap: 1rem">
                {% include 'inventory/filter/filter_card.html' with label='Manufacturer' name='manufacturer' values=manufacturer_values rendered_template='inventory/filter/filter_card_rendered.html' %}
                {% include 'inventory/filter/filter_card.html' with label='Status' name='status' values=status_values rendered_template='inventory/filter/filter_card_status_rendered.html' %}
                {% for property, values in properties %}
                    {% include 'inventory/filter/filter_card.html' with label=property.name name='property_'|add:property.name values=values rendered_template='inventory/filter/filter_card_rendered.html' %}
                {% endfor %}
            </div>

            <div class="card-footer d-flex flex-row align-items-center justify-content-between py-3 border-top">
                <div class="d-flex flex-row">
                    <label class="my-0">
                        <input type="checkbox" name="in_stock" {% if in_stock %} checked {% endif %}/>
                        In Stock
                    </label>
                    {% if subcategories|length > 0 %}
                        <label class="mx-3 my-0">
                            <input type="checkbox" name="no_child_categories" {% if no_child_categories %} checked {% endif %}/>
                            Top-level category only
                        </label>
                    {% endif %}
                </div>

                <div>
                    <a class="btn btn-danger mr-3" href="{% url 'parts_category' category_id=main_category.id %}">Clear Filters</a>
                    <button class="btn btn-info">Apply Filters</button>
                </div>
            </div>
        </form>
    </div>

    {% if parts_and_properties|length > 0 %}
        <div class="d-flex flex-row align-items-center justify-content-between flex-wrap mb-3 mx-3">
            <div class="pagination">
                {% if parts_pages.num_pages > 1 %}
                    {% if parts_page.has_previous %}
                        <div class="page-item"><a class="page-link" href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.previous_page_number order=order|urlencode:"" %}?{{ params }}"><i
                                class="fas fa-arrow-left"></i></a></div>
                    {% endif %}
                    {% for page_number in parts_pages.page_range %}
                        {% if page_number == parts_page.number %}
                            <div class="page-item active">
                                <a class="page-link" href="{% url 'parts_category_page' category_id=main_category.id page=page_number order=order|urlencode:"" %}?{{ params }}">{{ page_number }}</a>
                            </div>
                        {% else %}
                            <div class="page-item">
                                <a class="page-link disabled" href="{% url 'parts_category_page' category_id=main_category.id page=page_number order=order|urlencode:"" %}?{{ params }}">{{ page_number }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if parts_page.has_next %}
                        <div class="page-item"><a class="page-link" href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.next_page_number order=order|urlencode:"" %}?{{ params }}"><i
                                class="fas fa-arrow-right"></i></a></div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="d-flex flex-row">
                {% if perms.inventory.digikey_import %}
                    <form action="{% url 'digikey_lookup' %}" method="GET" class="mx-3">
                        {% csrf_token %}
                        {% for field in import_parts_form %}
                            {{ field.as_hidden }}
                        {% endfor %}
                        <button
                                class="btn btn-secondary"
                                {% if not no_child_categories and subcategories|length > 0 %}
                                    disabled
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Parts must be filtered to top-level category only"
                                {% endif %}
                        >
                            Re-Import Parts
                        </button>
                    </form>
                {% endif %}
                {% if perms.inventory.edit_parts %}
                    <form action="{% url 'part_locations' category_id=main_category.id %}" method="GET" class="mx-3">
                        {% csrf_token %}
                        {% for field in import_parts_form %}
                            {{ field.as_hidden }}
                        {% endfor %}
                        <button class="btn btn-info" >
                            Edit Part Locations
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead class="thead-light">
                <tr>
                    {% if perms.inventory.change_part %}
                        <th scope="col"><i class="fas fa-edit"></i></th>
                    {% endif %}
                    <th scope="col"><i class="fa fa-file"></i></th>
                    <th scope="col" class="text-nowrap">
                        Part #:
                        {% if order == 'id' %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='-id' %}?{{ params }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                        {% elif order == '-id' %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='id' %}?{{ params }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='id' %}?{{ params }}">
                                <i class="fas fa-sort"></i>
                            </a>
                        {% endif %}
                    </th>
                    <th scope="col" class="text-nowrap">
                        MPN:
                        {% if order == 'mfg_partno' %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='-mfg_partno' %}?{{ params }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                        {% elif order == '-mfg_partno' %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='mfg_partno' %}?{{ params }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='mfg_partno' %}?{{ params }}">
                                <i class="fas fa-sort"></i>
                            </a>
                        {% endif %}
                    </th>
                    <th scope="col" class="text-nowrap">
                        Mfg.
                        {% if order == 'mfg' %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='-mfg' %}?{{ params }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                        {% elif order == '-mfg' %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='mfg' %}?{{ params }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='mfg' %}?{{ params }}">
                                <i class="fas fa-sort"></i>
                            </a>
                        {% endif %}
                    </th>
                    <th scope="col" class="text-nowrap">Name</th>
                    <th scope="col" class="text-nowrap text-right">
                        Status
                        {% if order == 'status' %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='-status' %}?{{ params }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                        {% elif order == '-status' %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='status' %}?{{ params }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='status' %}?{{ params }}">
                                <i class="fas fa-sort"></i>
                            </a>
                        {% endif %}
                    </th>
                    <th scope="col" class="text-nowrap text-right">Stock</th>
                    <th scope="col" class="text-nowrap text-right"></th>
                    {% for property, value in properties %}
                        <th scope="col" class="text-nowrap text-right">
                            {{ property.name }}
                            {% with property_order='property_'|add:property.name %}
                                {% if order == property_order %}
                                    <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order='-'|add:property_order|urlencode:"" %}?{{ params }}">
                                    <i class="fas fa-sort-up"></i>
                                {% elif order == '-'|add:property_order %}
                                    <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order=property_order|urlencode:"" %}?{{ params }}">
                                    <i class="fas fa-sort-down"></i>
                                {% else %}
                                    <a href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.number order=property_order|urlencode:"" %}?{{ params }}">
                                    <i class="fas fa-sort"></i>
                                {% endif %}
                            {% endwith %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for part, properties in parts_and_properties %}
                    <tr>
                        {% if perms.inventory.change_part %}
                            <td class="align-middle" style="width: 2em">
                                <a href="{% url 'admin:inventory_part_change' object_id=part.id %}" target="_blank" class="">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        {% endif %}
                        <td class="align-middle" style="width: 2em"><a href="{{ part.datasheet }}"><i class="fa fa-file"></i></a></td>
                        <th class="align-middle" scope='row' style="width: 6em"><a href="{% url 'part' part_id=part.id %}">{{ part.id }}</a></th>
                        <td class="align-middle" style="width: 6em"><a href="{% url 'part' part_id=part.id %}">{{ part.manufacturer_part_number }}</a></td>
                        <td class="align-middle" style="width: 6em"><a href="{{ part.manufacturer.website_url }}">{{ part.manufacturer.name }}</a></td>
                        <td class="align-middle">{{ part.name }}</td>
                        <td class="text-right align-middle">
                            {% include 'inventory/status_badge.html' with status=part.status status_label=part.status_label %}
                        </td>
                        <td class="text-right align-middle" style="width: 5em">{{ part.qty_available }}</td>
                        <td class="text-right align-middle" style="min-width: 6em; max-width: 7em">
                            <form onsubmit="submit_form(event)" class="mx-1">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="cart"/>
                                <input type="hidden" name="part_id" value="{{ part.id }}">
                                <div class="input-group input-group-sm flex-nowrap">
                                    <input type="text" class="form-control" placeholder="Qty" name="qty">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" name="update_part" value="add_to_cart">
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        {% for name, value in properties %}
                            <td class="text-right align-middle">
                                {% if value %}
                                    {{ value }}
                                {% else %}
                                    <span style="color:lightgrey">―</span>
                                {% endif %}
                            </td>

                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No parts found</p>
    {% endif %}

    {% if parts_pages.num_pages > 1 %}
        <div class="pagination mb-3 mx-3">
            {% if parts_page.has_previous %}
                <div class="page-item"><a class="page-link" href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.previous_page_number order=order|urlencode:"" %}?{{ params }}"><i
                        class="fas fa-arrow-left"></i></a></div>
            {% endif %}
            {% for page_number in parts_pages.page_range %}
                {% if page_number == parts_page.number %}
                    <div class="page-item active">
                        <a class="page-link" href="{% url 'parts_category_page' category_id=main_category.id page=page_number order=order|urlencode:"" %}?{{ params }}">{{ page_number }}</a>
                    </div>
                {% else %}
                    <div class="page-item">
                        <a class="page-link disabled" href="{% url 'parts_category_page' category_id=main_category.id page=page_number order=order|urlencode:"" %}?{{ params }}">{{ page_number }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if parts_page.has_next %}
                <div class="page-item"><a class="page-link" href="{% url 'parts_category_page' category_id=main_category.id page=parts_page.next_page_number order=order|urlencode:"" %}?{{ params }}"><i
                        class="fas fa-arrow-right"></i></a></div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
