{% extends 'inventory/base.html' %}

{% block title %} | Inventory {% endblock %}

{% block content %}
    <h1 class="m-3 text-center">Part Locations</h1>
    <h5 class="m-3 text-center">Category {{ main_category.name }}</h5>

    <label class="mb-3">
        Parent Location
        <select id="parent_location" name="parent_location" class="form-control custom-select">
            {% for id, name, path_str, path in locations %}
                <option value="{{ id }}">{{ path_str }}/</option>
            {% endfor %}
        </select>
    </label>

    <script>
        $(document).ready(function() {
            $('#parent_location').select2();
        });
    </script>

    <div class="pagination mb-3">
        {% if parts_page.has_previous %}
            <div class="page-item"><a class="page-link" href="?page={{ parts_page.previous_page_number }}"><i class="fas fa-arrow-left"></i></a></div>
        {% endif %}
        {% for page_number in parts_pages.page_range %}
            {% if page_number == parts_page.number %}
                <div class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></div>
            {% else %}
                <div class="page-item"><a class="page-link disabled" href="?page={{ page_number }}">{{ page_number }}</a></div>
            {% endif %}
        {% endfor %}
        {% if parts_page.has_next %}
            <div class="page-item"><a class="page-link" href="?page={{ parts_page.next_page_number }}"><i class="fas fa-arrow-right"></i></a></div>
        {% endif %}
    </div>

    {% for part, part_locations in parts_and_part_locations %}
        <div class="card my-3">
            <div class="card-header d-flex flex-row justify-content-between align-items-center">
                <h5 class="card-title" style="margin: 0"><a href="{% url 'part' part_id=part.id %}">{{ part.name }}</a>, {{ part.id }}, {{part.manufacturer_part_number}}</h5>

                <form onsubmit="submit_form(event)">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="add"/>
                    <input type="hidden" name="part" value="{{ part.id }}"/>
                            <button class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button>
                </form>
            </div>
            <div class="list-group list-group-flush">
                {% for part_location in part_locations %}
                    <div class="list-group-item d-flex flex-row">
                        <form onsubmit="submit_form(event)" class="flex-grow-1">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="update"/>
                            <input type="hidden" name="part_location" value="{{ part_location.id }}"/>
                            <div class="input-group form-group row" style="margin: 0">
                                <select
                                        id="{{ part_location.id }}_location"
                                        name="location"
                                        class="custom-select"
                                        type="select"
                                >
                                    <option value="{{ part_location.location.id }}">{{ part_location.location.name }}</option>
                                </select>
                                <input
                                        id="{{ part_location.id }}_quantity"
                                        name="quantity"
                                        type="number"
                                        class="form-control text-right"
                                        style="width: 8em; flex-grow: 0"
                                        value="{{ part_location.quantity }}"
                                />
                                <input
                                        id="{{ part_location.id }}_barcode"
                                        name="barcode" type="text"
                                        class="form-control text-right"
                                        style="width: 8em; flex-grow: 0"
                                        value="{{ part_location.barcode }}"
                                />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input
                                                id="{{ part_location.id }}_primary"
                                                name="primary"
                                                type="checkbox"
                                                class="mr-2"
                                                {% if part_location.primary_location %} checked="" {% endif %}
                                        />
                                        <label style="margin: 0">Primary</label>
                                    </div>

                                    <button
                                            id="{{ part_location.id }}_submit"
                                            class="btn btn-outline-primary disabled"
                                    >
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>
                            <script>
                                document.getElementById("{{ part_location.id }}_location").onchange = function() {
                                    document.getElementById("{{ part_location.id }}_submit").classList.remove('disabled');
                                    document.getElementById("{{ part_location.id }}_submit").classList.remove('btn-outline-primary');
                                    document.getElementById("{{ part_location.id }}_submit").classList += ' btn-primary';
                                };
                                document.getElementById("{{ part_location.id }}_quantity").onchange = function() {
                                    document.getElementById("{{ part_location.id }}_submit").classList.remove('disabled');
                                    document.getElementById("{{ part_location.id }}_submit").classList.remove('btn-outline-primary');
                                    document.getElementById("{{ part_location.id }}_submit").classList += ' btn-primary';
                                };
                                document.getElementById("{{ part_location.id }}_barcode").onchange = function() {
                                    document.getElementById("{{ part_location.id }}_submit").classList.remove('disabled');
                                    document.getElementById("{{ part_location.id }}_submit").classList.remove('btn-outline-primary');
                                    document.getElementById("{{ part_location.id }}_submit").classList += ' btn-primary';
                                };
                                document.getElementById("{{ part_location.id }}_primary").onchange = function() {
                                    document.getElementById("{{ part_location.id }}_submit").classList.remove('disabled');
                                    document.getElementById("{{ part_location.id }}_submit").classList.remove('btn-outline-primary');
                                    document.getElementById("{{ part_location.id }}_submit").classList += ' btn-primary';
                                };
                            </script>
                        </form>
                        <form onsubmit="submit_form(event)">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="remove"/>
                            <input type="hidden" name="part_location" value="{{ part_location.id }}"/>
                            <button class="btn btn-danger ml-3"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="pagination mb-3">
        {% if parts_page.has_previous %}
            <div class="page-item"><a class="page-link" href="?page={{ parts_page.previous_page_number }}"><i class="fas fa-arrow-left"></i></a></div>
        {% endif %}
        {% for page_number in parts_pages.page_range %}
            {% if page_number == parts_page.number %}
                <div class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></div>
            {% else %}
                <div class="page-item"><a class="page-link disabled" href="?page={{ page_number }}">{{ page_number }}</a></div>
            {% endif %}
        {% endfor %}
        {% if parts_page.has_next %}
            <div class="page-item"><a class="page-link" href="?page={{ parts_page.next_page_number }}"><i class="fas fa-arrow-right"></i></a></div>
        {% endif %}
    </div>

    <script>
        let locations = [
            {% for id, name, path_str, path_ids in locations %}
                {
                    "id": {{ id }},
                    "name": "{{ name }}",
                    "path_str": "{{ path_str }}",
                    "path_ids": [ {% for path_id in path_ids %} {{ path_id }}, {% endfor %} ],
                },
            {% endfor %}
        ];

        update_locations = function() {
            let id = Number(document.getElementsByName("parent_location")[0].value);
            console.log(id);
            document.cookie = "parent_location=" + id + ";sameSite=strict";
            let parent = locations.find(function(location) { return location.id === id });

            let sub_locations = locations.filter(function(location) {
                if (location.path_ids.length <= parent.path_ids.length) {
                    return false;
                }
                return parent.path_ids.every(function(id, index) {
                    return location.path_ids[index] === id;
                });
            });

            document.getElementsByName("location").forEach(function(element) {
                let selected = Number(element.value);
                element.innerHTML = '';

                let selected_option = document.createElement('option');
                selected_option.value = selected;

                let selected_location = locations.find(function (location) {
                    return location.id === selected
                });
                if (selected_location !== undefined) {
                    if (sub_locations.some(function (location) {
                        return location.id === selected
                    })) {
                        selected_option.innerText = selected_location.path_ids.slice(parent.path_ids.length).reduce(function (path, id) {
                            let l = locations.find(function (l) {
                                return l.id === id
                            });
                            if (path === '') {
                                return l.name;
                            } else {
                                return path + "/" + l.name;
                            }
                        }, '');
                    } else {
                        selected_option.innerText = selected_location.path_str;
                    }
                    element.appendChild(selected_option);
                }

                sub_locations.forEach(function(location) {
                    let option = document.createElement('option');
                    option.value = location['id'];
                    option.innerText = location.path_ids.slice(parent.path_ids.length).reduce(function (path, id) {
                        let l = locations.find(function (l) { return l.id === id });
                        if (path === '') {
                            return l.name;
                        } else {
                            return path + "/" + l.name;
                        }
                    }, '');
                    element.appendChild(option)
                })
            })
        };

        document.getElementsByName("parent_location")[0].onchange = update_locations;

        let last_selected = document.cookie.split(';').find(row => row.startsWith('parent_location')).split('=')[1]

        if (last_selected !== undefined && last_selected !== null) {
            let options = document.getElementsByName("parent_location")[0].options;
            console.log(options);
            for (let i = 0; i < options.length; i++) {
                    let option = options[i];
                    if (option.value === last_selected) {
                        $('#parent_location').val(last_selected);
                        console.log(option)
                        break;
                    }
            }
        }

        update_locations()

    </script>
{% endblock %}
