<table class="table mt-3">
    <thead>
    <tr>
        <th scope="col">Part Name</th>
        <th scope="col">IPN</th>
        <th scope="col">MPN</th>
        <th scope="col">Quantity</th>

    </tr>
    </thead>
    <tbody>
    {% for part_order in part_orders %}
        <tr>
            <td><a href="{% url 'part' part_id=part_order.part.id %}">{{ part_order.part.name }}</a></td>
            <td>{{ part_order.part.id }}</td>
            <td>{{ part_order.part.manufacturer_part_number }}</td>
            <td>{{ part_order.quantity }}</td>


        </tr>
    {% endfor %}
    </tbody>
</table>