{% extends 'inventory/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} | Inventory {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">Request a Part</h1>
        <div class="alert alert-warning">
            <h5 class="m-0">Check our inventory before submitting a request!</h5>
        </div>

        <p>
            To request a part that is not in inventory, please tell us <span class="font-weight-bold">exactly</span>
            what you need. A manufacturer part number, Digi-Key part number, or Digi-Key link along with a description
            and reasoning is preferred. We may contact you for more details.
        </p>

        <form method="POST">
            {% csrf_token %}
            <textarea class="form-control" name="request"></textarea>
            <button type="submit" class="btn btn-primary m-3">Submit</button>
        </form>
    </div>
{% endblock %}
