{% extends 'inventory/base.html' %}

{% block title %} | Inventory {% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for category in category_path %}
                <li class="breadcrumb-item"><a href="{% url 'parts_category' category_id=category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ol>
    </nav>
    <div class="container">
        <h1 class="m-3 text-center">Category: {{ main_category.name }}</h1>

        <div class="d-flex flex-row align-items-start">
            {% for category, subcategories in subcategories %}
                <div class="card m-3" style="width: 18rem;">
                    <a href="{% url 'parts_category' category_id=category.id %}">
                        <div class="card-header">
                            {{ category.name }}
                        </div>
                    </a>
                    <ul class="list-group list-group-flush">
                        {% for subcategory in subcategories %}
                            <a href="{% url 'parts_category' category_id=category.id %}">
                                <li class="list-group-item">{{ subcategory.name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>


        <table class="table table-sm table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Part #</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Description</th>
                <th scope="col">Availability</th>
                <th scope="col">Datasheet</th>
                <th scope="col">Qty</th>

            </tr>
            </thead>
            <tbody>
            {% for part in parts %}
                <tr>
                    <td><a href="{% url 'part' part_id=part.id %}">{{ part.name }}</a></td>
                    <td>{{ part.id }}</td>
                    <td>{{ part.manufacturer.name }}</td>
                    <td>{{ part.description }}</td>
                    <td>{{ part.qty_available }}</td>
                    <td><a href="{{ part.datasheet }}"><i class="fas fa-file"></i> Datasheet</a></td>
                    <td>
                        <button class="btn btn-primary">Add to cart</button>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="7" class="text-center">No results found</td></tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
