{% extends "admin/base.html" %}

{% block title %}{{ title }} | Rowan ECE Admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Rowan ECE Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
